body{
    background-color: bisque;
}

p{
    color: brown;
}

.foto-principal{
    width: 200px;
    border: 2px double red; /*shorthand*/
    border-radius: 50%;
    margin: 30px;
    padding: 10px;
    }
