body{
    background-image: url(Porto.jpg);
    background-repeat: no-repeat;
   /* background-position: 100%; 10%; */

   background-position: center center;
   background-size: cover;
   background-attachment: fixed;

}

p{
    Color: #5a5656;
}